# Git file ignoring instructions for ACME student repositories.

# These repositories should only contain .py or .ipynb solutions files
# (in the main directory) and feedback .txt files (in the Feedback/ directory).
# Data files are intentionally ignored.


# Ignore all files and subdirectories...
*
*/

# ...except for Python files and notebooks in the main directory...
!./
!*.py
!*.ipynb

# ...and .txt files in the Feedback/ directory.
!Feedback/
Feedback/*
!Feedback/*.txt

# Ignore relative import Python files.
__init__.py
__main__.py
